snippet item "Item in bibliography" bA
@${1:article}{${2:tag},
  author       = "",
  title        = "",
  journal      = "",
  volume       = "",
  number       = "",
  pages        = "",
  year 		   = "",
  DOI          = "",
},
endsnippet
